body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none; /* пока так пусть */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */

.main-header .container {
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f3f7f8;
}

.main-logo {
  width: 220px;
  height: 42px;
  margin-right: 49px;
  text-align: center;

  background-color: #ed3543;
  border-top: 1px solid #df3543;
  border-bottom: 5px solid #b42833;
}

.main-logo:hover {
  background-color: #e38087;
}

.main-logo:focus,
.main-logo:active {
  background-color: #e38087;
  outline: none;
}

.main-logo img {
  padding-top: 12px;
}

.form-search,
.bookmarks,
.cart,
.order,
.site-navigation a {
  font-size: 17px;
  line-height: 18px;
}

.form-search:hover {
  background-color: #d8e2f2;
}

.form-search:focus,
.form-search:active {
  color: #000000;
  background-color: #ffffff;
}

.main-header-wrapper {
  width: 100%;
  max-height: 42px;
  background-color: #31415b;
  margin-bottom: 28px;
}

.main-header-top {
  margin-bottom: 46px;
  justify-content: center; /* времм */
  align-items: center;

  min-height: 42px;
}

.middle-header {
  display: flex;
}

.main-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ed3543;

  border: solid 3px #ffffff;
}

.main-phone:hover {
  text-decoration: underline;
}

.main-adress {
  font-size: 14px;
  color: #293349;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;

  min-height: 60px;
  background-color: #31415b;
  border-bottom: 5px solid #293349;
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a {
  color: inherit;

  background-color: #ffffff;
}

.form-search:focus,
.form-search:active {
  color: #000000;

  background-color: #ffffff;
}

.search-form {
  width: 220px;
}

.search-form button {
  background: transparent;
  border: none;
  outline: none;
}

.bookmarks,
.cart,
.order {
  color: #ffffff;
  background-color: transparent;
}

.bookmarks {
  margin-left: auto;
  margin-right: 50px;
}

.cart {
  margin-right: 50px;
}

.bookmarks:hover,
.order:hover {
  background-color: #62a63d;
}

.cart:hover {
  background-color: #ed3543;
}

.bookmarks:focus,
.cart:focus,
.order:focus,
.bookmarks:active,
.cart:active,
.order:active {
  color: gray;
  background-color: #293349;
}

.description {
  margin-left: 52px;
  margin-right: 70px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ed3543;
  text-align: left;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-navigation {
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  min-width: 185px;

  font-size: 21px;
  line-height: 21px;
}

.user-navigation a {
  margin-left: 10px;
  padding: 10px 15px;

  color: inherit;
  background-color: #ffffff;
}

.user-navigation a:hover {
  color: #ed3543;
  background-color: #60779c;
}

.user-navigation a:focus,
.user-navigation a:active {
  color: #e38087;
}

.site-navigation {
  margin-bottom: 89px;
}
.site-navigation a {
  line-height: 17px;
  color: #ffffff;
  outline: none;
}

.site-navigation a:hover {
  background-color: #60779c;
}

.site-navigation a:focus,
.site-navigation a:active {
  color: #ed3543;
}

.user-subnavigation {
  list-style: none;
}

.user-subnavigation a {
  font-size: 16px;
  line-height: 18px;
  color: #49586f;
  text-decoration: underline;
}

.user-subnavigation a:hover,
.breadcrumbs a:hover {
  color: #ed3543;
}

.user-subnavigation a:focus,
.user-subnavigation a:active,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* end header */

/* section main-tools, main-services */

.main-tools {
  margin-bottom: 10px;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.tools li,
.services-discounts-container li {
  padding: 10px;
}

.tools h3,
.main-services h3,
.services-discounts-tools h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.tools a,
.main-services a,
.services-discounts-tools a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.tools a:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.tools a:focus,
.tools a:active {
  background-color: rgb(0, 0, 0, 0.3);
}

.tools-materials {
  width: 240px;

  background-color: #ffbf47;
}

.tools-utils {
  width: 280px;

  background-color: #3bbbe2;
}

.tools-technic {
  width: 280px;

  background-color: #db90d8;
}

/* slider */

.slider h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-shurupovert {
  height: 266px;
  width: 620px;
  background-image: url("../img/slider/slide-2.jpg");
  background-repeat: no-repeat;
  /* opacity: 0; */ /* временно */
}

.slider-perforator {
  height: 266px;
  width: 620px;
  background-image: url("../img/slider/slide-1.jpg");
  background-repeat: no-repeat;
  opacity: 1;
}

/* стрелки, кругляшки? */

/* end slider */

.services-tools {
  display: flex;
  justify-content: space-between;
}

.services-discounts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;

  list-style: none;
}

.slider-main-tools {
  margin: 0;
  width: 610px;
}

.services-discounts {
  background-color: #8dd68e;
}

.services-delivery {
  background-color: #ffbf47;
}

/* end main-tools, main-services */

/* section pop-product, catalog h3 & del */

.pop-product {
  margin-bottom: 25px;
}

.pop-product-top,
.popular-manufacturers-top {
  display: flex;

  background-color: #f9f5f0;
}

.pop-product-top a,
.popular-manufacturers-top a {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  padding: 0px 15px;
  padding-top: 15px;
  height: 30px;
}

.pop-product article {
  margin: 10px;

  border: 1px solid #eaeaea;
}

.pop-product li,
.catalog li {
  font-family: "PT Sans", Arial, sans-serif;
}

.pop-product h2,
.popular-manufacturers h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.pop-product-list {
  display: flex;
}

.pop-product-list h3,
.catalog-list h3 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #32425c;
}

.pop-product-list del,
.catalog-list del {
  color: #a9a9a9;
}

.new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-manufacturers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-manufacturers-list li {
  margin: 15px 0;
  padding: 25px;

  border: 1px solid #eaeaea;
}

/* end pop-product */

/* services, about-us, about-perforator */

.about-us {
  display: flex;
}

.services,
.about-perforator {
  background-color: #f4f8f9;
}

.services h2,
.about-us h2,
.map h2,
.about-perforator h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services p,
.about-us p,
.map p,
.about-perforator p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-toggle {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #31415b;
}

.services h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #31415b;
  text-transform: uppercase;
}

.services-slider-container {
  display: flex;
}

.services-slider-service {
  margin-left: 80px;
}

.delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  opacity: 1;
}

.guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  opacity: 1;
}

.credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  opacity: 1;
}

.about-us-list {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

/* end services, about-us */

/* filter, catalog */

.page-catalog .main-header {
  background-color: #f2f6f8;
}

.breadcrumbs li,
.breadcrumbs a {
  color: inherit;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.title h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f1f5f7;
}

.filter,
.filter h2,
.sorting,
.sorting h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: inherit;
  line-height: 18px;
  text-transform: uppercase;
}

.filter h2,
.sorting {
  background-color: #f7f2ec;
}

.price-min,
.price-max {
  background-color: #f7f2ec;
  border: none;
}

.filter-parameters fieldset {
  border: none;
}

.filter-parameters legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturer-list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: inherit;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.filter-parameters .filter-button:hover,
.filter-parameters .filter-button:focus,
.filter-parameters .filter-button:active {
  cursor: pointer;
  background-color: #63a53d;
}

.sorting-list a {
  color: #aca9a5;
  border-bottom: 1px dotted #ed3543;
}

.sorting-list a:hover {
  color: inherit;
  border-width: 1px;
  border-bottom-style: solid;
}

.sorting-list a:focus,
.sorting-list a:active {
  color: #ee3643;
  border-width: 0;
}

.pages-list a {
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.pages-list a:hover,
.pages-list a:focus,
.pages-list a:active {
  border-color: #fc5a8d;
  outline: none;
}

.page-active a {
  color: #ffffff;
  background-color: #ee3643;
  border-width: 0;
}

/* end filter, catalog */

/* footer */

/* времм */
.footer-top,
.footer-navigation,
.footer-middle,
.footer-bottom,
.footer-tools,
.footer-social,
.footer-feedback {
  display: flex;
}
/* времм */

.footer-bottom {
  background-color: #293349;
}

.footer-top ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 560px;
}

.footer-middle {
  margin-bottom: 50px;
}

.footer-middle ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 540px;
}

.footer-social {
  margin-left: 150px;
}

.footer-social li {
  padding: 5px;
}

.footer-feedback {
  margin-left: auto;
}

.footer-feedback p {
  margin-right: 48px;
}

.main-footer,
.main-footer a {
  color: #e4e9ed;
  background-color: #31415b;
}

a.footer-logo {
  width: 220px;
  height: 42px;
  text-align: center;
  padding-top: 14px;
  background-color: #ed3543;
  border-top: 1px solid #df3543;
  border-bottom: 5px solid #b42833;
}

.footer-navigation,
.footer-address,
.footer-tools {
  font-size: 18px;
  line-height: 24px;
}

.footer-tools a,
a.link {
  color: #ffd180;
}

.link:hover,
.footer-phone:hover {
  text-decoration: underline;
}

.footer-copyright,
.footer-feedback {
  font-size: 16px;
  line-height: 18px;
}

.footer-navigation a:hover,
.footer-tools a:hover,
.footer-navigation a:focus,
.footer-navigation a:active,
.footer-tools a:focus,
.footer-tools a:active {
  background-color: #60779c;
}

/* end footer */

/* кнопалки */

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-red {
  color: #ffffff;
  background-color: #ed3543;
}

.button-red:hover {
  background-color: #bf2c37;
}

.button-red:focus,
.button-red:active {
  background-color: #9f1f29;
}

.button-buy,
.button-bookmarks {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.button-buy {
  background-color: #63a53d;
}

.button-bookmarks {
  border: solid 3px #63a63e;
}

/* конец кнопалок */

/* modal */

.button-close:hover {
  cursor: pointer;
}

.modal-feedback,
.modal-authorization,
.modal-add-cart {
  background-color: #ffffff;
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback input,
.modal-feedback textarea {
  font-family: "PT Sans", Arial, sans-serif;
  color: #b7b7b7;
  border: solid 2px #b7b7b7;
}

.modal-feedback input,
.modal-feedback textarea {
  font-size: 13px;
  line-height: 18px;
}

.modal-feedback input[type="text"]:hover,
.modal-feedback textarea:hover,
.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="text"]:active,
.modal-feedback textarea:focus,
.modal-feedback textarea:active {
  border-color: #f7080d;
  outline: none;
}

/* end modal */

/* flag-new */

/* end flag-new */
