body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
} /* пока так пусть */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */

.main-header .container {
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 61px;

  height: 320px;

  background-color: #f3f7f8;
}

.main-logo {
  width: 220px;
  height: 42px;

  margin-right: 46px;
  text-align: center;

  background-color: #ed3543;
  border-top: 1px solid #df3543;
  border-bottom: 5px solid #b42833;
}

.main-logo:hover {
  background-color: #e38087;
}

.main-logo:focus,
.main-logo:active {
  background-color: #e38087;
  outline: none;
}

.main-logo img {
  padding-top: 12px;
}

.form-search,
.bookmarks,
.cart,
.order,
.site-navigation a {
  font-size: 17px;
  line-height: 18px;
}

.form-search {
  background-color: transparent;
  border: none;
  outline: none;
}

.form-search::placeholder {
  color: #ffffff;
}

.form-search:hover {
  background-color: #d8e2f2;
}

.form-search:focus,
.form-search:active {
  color: #000000;
  background-color: #ffffff;
}

.main-header-wrapper {
  width: 100%;
  max-height: 42px;
  background-color: #31415b;
  margin-bottom: 50px;
}

.main-header-top {
  margin-bottom: 46px;
  /* justify-content: space-between; */
  align-items: center;

  min-height: 42px;
}

.middle-header {
  display: flex;

  margin-bottom: 23px;
}

/* .information {
  display: flex;
  flex-direction: column;

  margin-top: -2px;
} */

.main-phone {
  display: block;
  position: relative;
  margin-top: 1px;
  margin-left: -9px;
  padding: 5px 45px 5px 70px;

  font-size: 21px;
  line-height: 21px;
  color: #ed3543;

  border: solid 3px #ffffff;
}

.main-phone::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat;
  opacity: 0.8;
}

.main-phone:hover {
  text-decoration: underline;
}

.main-adress {
  display: block;

  margin-top: 8px;
  font-size: 14px;
  color: #293349;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 55px;
  background-color: #31415b;
  border-bottom: 5px solid #293349;
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a {
  display: block;
  margin-top: 12px;

  color: inherit;

  background-color: #ffffff;
}

.form-search:focus,
.form-search:active {
  color: #000000;

  background-color: #ffffff;
}

.search-form {
  margin-top: -4px;
  margin-left: -3px;

  width: 220px;
}

.search-form button {
  background: transparent;
  border: none;
  outline: none;
}

.bookmarks,
.cart,
.order {
  display: block;
  position: relative;

  margin-top: -6px;

  padding: 12px 20px 13px 20px;

  color: #ffffff;
  background-color: transparent;
}

.bookmarks {
  margin-left: 2px;
  padding-left: 49px;
}

.cart {
  margin-left: 7px;
  padding-left: 49px;
}

.order {
  margin-left: 10px;
}

.bookmarks:hover,
.order:hover {
  background-color: #62a63d;
}

.cart:hover {
  background-color: #ed3543;
}

.bookmarks:focus,
.cart:focus,
.order:focus,
.bookmarks:active,
.cart:active,
.order:active {
  color: gray;
  background-color: #293349;
}

.search-form {
  position: relative;
}

.search-form::before,
.bookmarks::before,
.cart::before {
  content: "";
  position: absolute;

  opacity: 0.3;
}

.bookmarks::before {
  left: 23px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat;
}

.cart::before {
  left: 19px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat;
}

.search-form::before {
  top: 3px;
  left: -26px;

  width: 18px;
  height: 20px;

  background: url("../img/icon-search.svg") no-repeat;
}

.description {
  margin: 0;
  margin-left: 52px;
  margin-right: 82px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ed3543;
  text-align: left;
}

.user-navigation {
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: 10px;
  margin-top: -13px;
  min-width: 185px;

  font-size: 21px;
  line-height: 21px;
}

.user-navigation a {
  display: block;

  margin-left: 29px;
  padding: 10px 15px;

  color: inherit;
  background-color: #ffffff;
}

.user-navigation a:hover {
  color: #ed3543;
  background-color: #60779c;
}

.user-navigation a:focus,
.user-navigation a:active {
  color: #e38087;
}

.user-navigation .enter {
  position: relative;
  padding-left: 46px;
}

.enter::before {
  content: "";
  position: absolute;

  top: 12px;
  left: 13px;

  width: 25px;
  height: 25px;

  background: url("../img/icon-login.svg") no-repeat;
  opacity: 0.8;
}

.nav-subnav {
  display: flex;
  flex-direction: column;

  margin-top: -15px;
  margin-left: 83px;
}

.site-navigation a {
  display: block;
  margin-bottom: -5px;
  padding: 20px 30px;

  line-height: 17px;
  color: #ffffff;
  outline: none;
}

.site-navigation li:first-child {
  padding-left: 20px;
}

.site-navigation li:last-child {
  padding-right: 24px;
}

.site-navigation a:hover {
  background-color: #60779c;
}

.site-navigation a:focus,
.site-navigation a:active {
  color: #ed3543;
}

.user-subnavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: -4px;
  width: 210px;
  list-style: none;
}

.user-subnavigation a {
  font-size: 16px;
  line-height: 18px;
  color: #49586f;
  text-decoration: underline;
}

.user-subnavigation a:hover,
.breadcrumbs a:hover {
  color: #ed3543;
}

.user-subnavigation a:focus,
.user-subnavigation a:active,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* end header */

/* section main-tools, main-services */

.main-tools {
  margin-bottom: 20px;
}

.tools {
  display: flex;
}

.tools li,
.services-discounts-tools li {
  width: 300px;
  height: 123px;
}

.tools h3 {
  display: block;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 14px;
}

.services-discounts-tools h3 {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-left: 22px;
  padding-bottom: 14px;
}

.tools h3,
.main-services h3,
.services-discounts-tools h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.tools a,
.main-services a,
.services-discounts-tools a {
  display: block;

  margin-left: 23px;
  padding: 10px 0;

  width: 135px;
  max-height: 37px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.tools a:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.tools a:focus,
.tools a:active {
  background-color: rgb(0, 0, 0, 0.3);
}

.tools-materials {
  margin-right: 20px;

  width: 300px;

  background-color: #ffbf47;
}

.tools-utils {
  margin-right: 20px;

  width: 300px;

  background-color: #3bbbe2;
}

.tools-technic {
  width: 300px;

  background-color: #db90d8;
}

/* slider */

.slider-main-tools {
  margin: 0;
  margin-top: -30px; /* возможно, временно */
  width: 620px;
}

.slider h2 {
  padding: 24px 0 0 23px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider p {
  margin: 0;
  margin-top: -30px;
  padding: 0 0 100px 25px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider a {
  display: block;

  max-height: 38px;

  margin: 23px 400px 22px 25px;
  padding: 9px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-shurupovert {
  margin: 0;

  height: 266px;
  width: 100%;
  /* width: 620px; */

  background-image: url("../img/slider/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* opacity: 0; */ /* временно */
}

.slider-perforator {
  height: 266px;
  width: 100%;
  /* width: 620px; */

  background-image: url("../img/slider/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  opacity: 0;
}

.tools li,
.services-discounts-list li {
  position: relative;
}

.tools li::after,
.services-discounts-list li::after {
  content: "";
  position: absolute;
  bottom: 27px;

  width: 79px;
  height: 65px;

  background-repeat: no-repeat;
  background-size: contain;
}

.tools-materials::after {
  right: 8px;

  background-image: url("../img/icon-1.svg");
}

.tools-utils::after {
  right: 24px;

  background-image: url("../img/icon-2.svg");
}

.tools-technic::after {
  right: 30px;

  background-image: url("../img/icon-3.svg");
}

.services-discounts::after {
  right: 22px;

  background-image: url("../img/icon-4.svg");
}

.services-delivery::after {
  right: 30px;

  background-image: url("../img/icon-5.svg");
}

/* стрелки, кругляшки? */

.slider-switches-points,
.slider-switches-arrows {
  position: absolute;
  opacity: 0;
}

/* end slider */

.services-tools {
  display: flex;
  justify-content: space-between;

  margin-bottom: 55px;
}

.services-discounts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;

  list-style: none;
}

.services-discounts {
  margin-bottom: 20px;

  background-color: #8dd68e;
}

.services-delivery {
  background-color: #ffbf47;
}

/* end main-tools, main-services */

/* section pop-product, catalog h3 & del */

.pop-product {
  margin-bottom: 25px;
}

.pop-product-top,
.popular-manufacturers-top {
  display: flex;

  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.pop-product-top a,
.popular-manufacturers-top a {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  padding: 0px 15px;
  padding-top: 15px;
  height: 30px;
}

.pop-product article {
  margin: 10px;

  border: 1px solid #eaeaea;
}

.pop-product li,
.catalog li {
  font-family: "PT Sans", Arial, sans-serif;
}

.pop-product h2,
.popular-manufacturers h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.pop-product-list {
  display: flex;
}

.pop-product-list h3,
.catalog-list h3 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #32425c;
}

.pop-product-list del,
.catalog-list del {
  color: #a9a9a9;
}

.new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-manufacturers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-manufacturers-list li {
  margin: 15px 0;
  padding: 25px;

  border: 1px solid #eaeaea;
}

/* end pop-product */

/* services, about-us, about-perforator */

.about-us {
  display: flex;
}

.services,
.about-perforator {
  background-color: #f4f8f9;
}

.services h2,
.about-us h2,
.map h2,
.about-perforator h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services p,
.about-us p,
.map p,
.about-perforator p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-toggle {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #31415b;
}

.services h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #31415b;
  text-transform: uppercase;
}

.services-slider-container {
  display: flex;
}

.services-slider-service {
  margin-left: 80px;
}

.delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  opacity: 1;
}

.guarantee {
  position: absolute;

  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  opacity: 0;
}

.credit {
  position: absolute;

  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  opacity: 0;
}

.about-us-list {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

/* end services, about-us */

/* filter, catalog */

.price-field {
  display: flex;
}

.price-field input {
  text-align: center;
  width: 95px;
}

.catalog-page {
  display: flex;
}

.page-catalog .main-header {
  background-color: #f2f6f8;
}

.breadcrumbs {
  display: flex;

  margin-top: -4px;
  margin-left: 46px;
}

.all-catalog {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 700px;
}

.sorting {
  display: flex;
}

.sorting-list {
  display: flex;
}

.sorting-list li {
  margin: 10px;
}

.sorting-list li:first-child {
  margin-right: 70px;
}

.sorting-list li:last-child {
  margin-left: 63px;
  margin-right: 44px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list article {
  margin: 15px 0;
  padding: 0;

  width: 220px;

  border: 1px solid #eaeaea;
}

/* .breadcrumbs li:first-child {
  margin-left: -30px;
  margin-right: 40px;
} */

.breadcrumbs li,
.breadcrumbs a {
  color: inherit;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 18px;
}

.title h1 {
  padding: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.title-bottom {
  height: 90px;

  background-color: #f1f5f7;
}

.filter {
  width: 220px;
}

.filter,
.filter h2,
.sorting,
.sorting h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: inherit;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting h2 {
  margin-left: 18px;
  margin-right: 140px;
}

.filter h2,
.sorting {
  background-color: #f7f2ec;
}

.filter h2 {
  display: block;

  margin: 0;
  padding: 10px;

  max-height: 38px;
}

.price-min,
.price-max {
  background-color: #f7f2ec;
  border: none;
}

.filter-parameters fieldset {
  border: none;
}

.filter-parameters legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturer-list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: inherit;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.filter-parameters .filter-button:hover,
.filter-parameters .filter-button:focus,
.filter-parameters .filter-button:active {
  cursor: pointer;
  background-color: #63a53d;
}

.sorting-list a {
  color: #aca9a5;
  border-bottom: 1px dotted #ed3543;
}

.sorting-list a:hover {
  color: inherit;
  border-width: 1px;
  border-bottom-style: solid;
}

.sorting-list a:focus,
.sorting-list a:active {
  color: #ee3643;
  border-width: 0;
}

.pages-list {
  display: flex;
}

.pages-list li {
  margin-right: 10px;
}

.pages-list a {
  padding: 10px;
}

.pages-list a {
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.pages-list a:hover,
.pages-list a:focus,
.pages-list a:active {
  border-color: #fc5a8d;
  outline: none;
}

.page-active a {
  color: #ffffff;
  background-color: #ee3643;
  border-width: 0;
}

/* end filter, catalog */

/* footer */

/* времм */
.footer-top,
.footer-navigation,
.footer-middle,
.footer-bottom,
.footer-tools,
.footer-social,
.footer-feedback {
  display: flex;
}
/* времм */

.footer-bottom {
  background-color: #293349;
}

.footer-top ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 560px;
}

.footer-middle {
  margin-bottom: 50px;
}

.footer-middle ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 540px;
}

.footer-social {
  margin-left: 150px;
}

.footer-social li {
  padding: 5px;
}

.footer-feedback {
  margin-left: auto;
}

.footer-feedback p {
  margin-right: 48px;
}

.main-footer,
.main-footer a {
  color: #e4e9ed;
  background-color: #31415b;
}

a.footer-logo {
  width: 220px;
  height: 42px;
  text-align: center;
  padding-top: 14px;
  background-color: #ed3543;
  border-top: 1px solid #df3543;
  border-bottom: 5px solid #b42833;
}

.footer-navigation,
.footer-address,
.footer-tools {
  font-size: 18px;
  line-height: 24px;
}

.footer-tools a,
a.link {
  color: #ffd180;
}

.link:hover,
.footer-phone:hover {
  text-decoration: underline;
}

.footer-copyright,
.footer-feedback {
  font-size: 16px;
  line-height: 18px;
}

.footer-navigation a:hover,
.footer-tools a:hover,
.footer-navigation a:focus,
.footer-navigation a:active,
.footer-tools a:focus,
.footer-tools a:active {
  background-color: #60779c;
}

/* end footer */

/* кнопалки */

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-red {
  color: #ffffff;
  background-color: #ed3543;
}

.button-red:hover {
  background-color: #bf2c37;
}

.button-red:focus,
.button-red:active {
  background-color: #9f1f29;
}

.button-buy,
.button-bookmarks {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.button-buy {
  background-color: #63a53d;
}

.button-bookmarks {
  border: solid 3px #63a63e;
}

/* конец кнопалок */

/* modal */

.button-close:hover {
  cursor: pointer;
}

.modal-feedback,
.modal-authorization,
.modal-add-cart {
  background-color: #ffffff;
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback input,
.modal-feedback textarea {
  font-family: "PT Sans", Arial, sans-serif;
  color: #b7b7b7;
  border: solid 2px #b7b7b7;
}

.modal-feedback input,
.modal-feedback textarea {
  font-size: 13px;
  line-height: 18px;
}

.modal-feedback input[type="text"]:hover,
.modal-feedback textarea:hover,
.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="text"]:active,
.modal-feedback textarea:focus,
.modal-feedback textarea:active {
  border-color: #f7080d;
  outline: none;
}

.modal-feedback {
  width: 620px;
  height: 430px;

  background-color: #ffffff;
  border: 1px solid blue; /* для удобства, потом убрать */
  border-top: 8px solid #ff5358;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.feedback-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  margin-right: 20px;

  width: 220px;
}

.feedback-field-3 {
  display: flex;
  flex-direction: column;

  margin-bottom: 37px;

  width: 460px;
}

.feedback-bottom {
  margin-left: -20px; /* разобраться */

  width: 620px;
  height: 111px;

  background-color: #f1f1f1;
}

.modal-feedback .button-red {
  margin: 37px 80px;
  width: 460px;
  height: 38px;
}

.modal-add-cart-container {
  width: 620px;
  height: 283px;

  margin-top: 20px; /* для удобства, потом убрать */

  text-align: center;

  background-color: #ffffff;
  border: 1px solid violet; /* для удобства, потом убрать */
  border-top: 8px solid #ff5358;
}

.modal-add-cart-bottom {
  display: flex;
  justify-content: center;

  width: 620px;
  height: 111px;

  background-color: #f1f1f1;
}

.modal-add-cart-bottom a {
  margin: 40px;
}

.modal-map {
}

/* end modal */

/* flag-new */

/* end flag-new */
